body {
    background-color: #6699CC;
}

.container {
    text-align:center;
  }

button {
    border: none;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 10%;
}

button:hover {
    background-color: black;
    color: white;

  }

.text {
  padding: 20px;
}

button.clicked {
  background-color: black;
  color: white;
  transform: translateY(7px);

}



